/build/
build/*
build/cmake_install.cmake
build/CMakeCache.txt
build/LudoGame
build/Makefile
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.31.1/CMakeCCompiler.cmake
build/CMakeFiles/3.31.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.31.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.31.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.31.1/CompilerIdC/a.out
build/CMakeFiles/3.31.1/CompilerIdCXX/a.out
build/CMakeFiles/LudoGame.dir/build.make
build/CMakeFiles/LudoGame.dir/cmake_clean.cmake
build/CMakeFiles/LudoGame.dir/compiler_depend.make
build/CMakeFiles/LudoGame.dir/DependInfo.cmake
build/CMakeFiles/LudoGame.dir/link.txt
build/CMakeFiles/LudoGame.dir/ludo_game.cpp.o
build/CMakeFiles/LudoGame.dir/ludo_game.cpp.o.d
build/CMakeFiles/LudoGame.dir/main.cpp.o
build/CMakeFiles/LudoGame.dir/main.cpp.o.d
build/CMakeFiles/LudoGame.dir/progress.make
